@import "./custom";

@import "./reset.scss";
@import "./fonts.scss";

@import "./blocks/intro.scss";
@import "./blocks/sidebar.scss";
@import "./blocks/dialogue.scss";
@import "./blocks/preload.scss";


body {
    background-color: #000000;
}

html {
    font-size: 10px;
}

.container {
    width: min(1280px, calc(100vw - 4rem));
    margin: 0 auto;
}

.app {
    height: 100dvh;
}


@media (min-width: 1025px) {
    .app .container.main_window {
        padding-top: 2rem;
    }

    .dialogue {
        overflow-y: hidden;
    }
}

.app .container:not(.--active) {
    display: none;
}

@keyframes hideIntroMenu {
    0% {
        opacity: 100%;
    }
    99% {
        opacity: 0%;
        display: flex;
    }
    100% {
        display: none;
    }
}

.app .container {
    display: flex;
    gap: 2.4rem;

    min-height: 100%;
}


@media (max-width: 1024px) {
    .app .container {
        flex-direction: column;
    }
    
    .app {
        padding-top: 0;
        overflow: auto;
    }

    .app::-webkit-scrollbar {
        display: none;
    }
}